[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keras = "*"
numpy = "*"
scipy = "*"
notify-run = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
awscli = "*"
mecab-python3 = "*"
tensorflow-gpu = "*"

[requires]
python_version = "3.6"
